[settings]
multi_line_output=7
overwrite_in_place=true
skip_gitignore=true
line_length=300
balanced_wrapping=true
order_by_type=true
atomic=true
lines_before_imports=-1
lines_after_imports=-1
order_by_type=true
combine_star=true
no_inline_sort=false
remove_redundant_aliases=true
float_to_top=true
color_output=false
combine_straight_imports=true
